{% if action.value == "task" %}
    {% set target = "task_info_" ~ id %}
{% elseif action.value == "tag" %}
    {% set target = "tag_info_" ~ id %}
{% elseif action.value == "notice" %}
    {% set target = "notice_info_" ~ id %}
{% else %}
    {% set target = "responsible_info_" ~ id %}
{% endif %}
<div class="reon-msgctrl_tag_wrapper  reon-msgctrl_pointer" data-id="{{id}}" style="margin-bottom: 15px; background:{{action.color}};" >
    <span data-type="action_tag" data-target="{{target}}" class='reon-msgctrl_custom_tag' title={{action.value}} ;>{{action.option}}</span>
</div>